.container {
  display: flex;
  width: 100vw;
    height: 100vh;
    background: #1A1C20;
    justify-content: flex-start;
    align-items: space-between;
    gap: 40px;
    margin-top: 50px;
    overflow-y: scroll;
}

.text {
  font-weight: 700;
    color: #ffffff;
    padding-left: 25px;
    align-self: flex-start;
}

